@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  color: #333;
}

#web-header {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: #fff;
}

#logo {
  max-width: 200px;  /* Ajustar el tamaño del logo */
  height: auto;
}

#chat-container {
  width: 400px;
  background: #f0f0f0;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#chat-box {
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
  background: #f0f0f0;
}

.message {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message.user {
  align-items: flex-end;
}

.message p {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 100%;
  margin: 0;
}

.message.bot {
  background: #fff;
  color: #333;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  border-radius: 10px;
  padding: 15px;
  box-sizing: border-box;
}

.message.user p {
  background: #333;
  color: #fff;
}

.answer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.answer-button {
  margin: 5px 0;
  padding: 10px;
  background: #333;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  white-space: nowrap;
  width: fit-content;  /* Ajustar el ancho al contenido */
  align-self: flex-start;  /* Alinear al inicio */
}

.answer-button:hover {
  background: #555;
}

.answer-button:focus {
  outline: none;
}
